.m-backdrop-content {
    .m-drawer-header {
        box-shadow: none !important;
        border: 1px solid #eee;
    }

    .m-drawer-body {
        background-color: white !important;
    }
}

@media (min-width: 576px) {
    .m-drawer.--left .m-backdrop-content,
    .m-drawer.--right .m-backdrop-content {
        width: var(--maz-drawer-size) !important;
    }
}
